<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Demo</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://familyportal.neltic.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://familyportal.neltic.com:8172/MsDeploy.axd?site=toolwise-001-subsite58</MSDeployServiceURL>
    <DeployIisAppPath>toolwise-001-subsite58</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>toolwise-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Azure:SignalR:ConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=https://parentportal.service.signalr.net;AccessKey=jSxCZdduhOswkzE0k+R0jf/Yajh1Q7zZiECjZwfZHpU=;Version=1.0;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Azure:SignalR:ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=https://parentportal.service.signalr.net;AccessKey=jSxCZdduhOswkzE0k+R0jf/Yajh1Q7zZiECjZwfZHpU=;Version=1.0;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EdFi31ConnStr" Order="5" Enabled="False">
          <Destination Path="Data Source=sql5045.site4now.net;Initial Catalog=DB_9AA830_familyportal;Persist Security Info=True;User ID=DB_9AA830_familyportal_admin;Password=1qaz2wsx" Name="Database=DB_9AA830_familyportal; Data Source=sql5045.site4now.net; Persist Security Info=True; User Id=DB_9AA830_familyportal_admin; Password=1qaz2wsx" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Student1.ParentPortal.Data.Models.EdFi31.EdFi31Context, Student1.ParentPortal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EdFi25ConnStr" Order="6" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=EdFi_Ods_Populated_Template_2.5;Persist Security Info=True;User ID=sa;Password=1qaz2wsx" Name="Database=EdFi_Ods_Populated_Template_2.5; Data Source=.; Persist Security Info=True; User Id=sa; Password=1qaz2wsx" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Student1.ParentPortal.Data.Models.EdFi25.EdFi25Context, Student1.ParentPortal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Azure:SignalR:ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="EdFi25ConnStr-Web.config Connection String">
      <ParameterValue>Database=EdFi_Ods_Populated_Template_2.5; Data Source=.; Persist Security Info=True; User Id=sa; Password=1qaz2wsx</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EdFi31ConnStr-Web.config Connection String">
      <ParameterValue>Database=DB_9AA830_familyportal; Data Source=sql5045.site4now.net; Persist Security Info=True; User Id=DB_9AA830_familyportal_admin; Password=1qaz2wsx</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>