<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings xdt:Transform="Replace">
		<!-- Defines the application running mode: Values are "Demo", "Local" and "Production"-->
		<add key="application.mode" value="Demo" />
		<!-- Defines the image provider to use: Values are "DemoImageProvider", "BlobImageProvider" and "ConventionBasedImageProvider"-->
		<add key="image.provider" value="DemoImageProvider" />
		<!-- Defines the database running mode: Values are "EdFi25","EdFi31S1" and "EdFi31"-->
		<add key="application.ed-fi.version" value="EdFi31" />
		<add key="application.ed-fi.target" value="S1" />
		<!-- Defines the hour that the alert is going to fire for unread messages values are between 0 and 23)"-->
		<add key="unread.message.alert.hour" value="16" />

		<!-- Identity providers -->
		<!--Values are B2B or B2C-->
		<add key="authentication.azure.mode" value="B2B" />
		<add key="authentication.azure.tenant" value="toolwise.onmicrosoft.com" />
		<add key="authentication.azure.audience" value="c34f1634-092c-476e-baa9-29e429717879" />
		<add key="authentication.azure.instance" value="https://login.microsoftonline.com/tfp/{0}/{1}/.well-known/openid-configuration" />
		<add key="authentication.azure.policy" value="B2C_1_FirstTest" />
		
		<!--Keys for Comms Testing-->
		<add key="test.comms.emails" value="oscar@student1.org;ricardo.velasco@student1.org;doug@student1.org" />
		<add key="test.comms.emails.message" value="YES Prep Production - Email Service is A OK"/>
		<add key="test.comms.sms" value="+5212282877071;+15127854159" />
		<add key="test.comms.sms.message" value="YES Prep Production - SMS Service is A OK"/>
		<add key="test.comms.push" value="aprilperez910101@gmail.com" />
		<add key="test.comms.push.message" value="YES Prep Production - Push Notification Service is A OK"/>

		<!--Apple Identity provider-->
		<add key="authentication.apple.audience" value="org.student1.familyengagementapp" />
		<add key="authentication.apple.issuer" value="https://appleid.apple.com" />
		<add key="authentication.apple.keys" value="https://appleid.apple.com/auth/keys" />
		<add key="authentication.apple.testUserTimeAlive" value="2020-10-16" />
		<add key="authentication.apple.testUser" value="aprilperez910101@gmail.com" />
		<!-- Image Providers -->
		<!-- Physical storage configurations -->
		<!--<add key="student.image.path" value="clientapp/assets/img/student/" />
    <add key="parent.image.path" value="clientapp/assets/img/parent/" />
    <add key="staff.image.path" value="clientapp/assets/img/teacher/" />-->

		<add key="student.image.path" value="clientapp/assets/img/demo/student/" />
		<add key="parent.image.path" value="clientapp/assets/img/demo/teacher/" />
		<add key="staff.image.path" value="clientapp/assets/img/demo/teacher/" />

		<add key="default.image.path" value="clientapp/assets/img/profile-default.png" />

		<!-- Azure BLOB settings-->
		<add key="azure.storage.connectionString" value="DefaultEndpointsProtocol=https;AccountName=ypparentportalprodstor;AccountKey=7IYghcl6p2hjsZRco94cRzuYJiuAunjUqdwEmm8v3N9scz/hEC4WOKru5g9vNdEmN5eXMr3uD6rxCrW5s/Q/TA==;EndpointSuffix=core.windows.net" />

		<add key="azure.student.container" value="students" />
		<add key="azure.parent.container" value="parents" />
		<add key="azure.staff.container" value="staff" />

		<add key="azure.default.image.container" value="app" />
		<add key="azure.default.image.file" value="profile-default.png" />

		<!-- Messaging Parameters -->
		<!-- Email SMTP parameters -->
		<!-- There are many services for SMTP like (SendGrid, mailjet, etc...) -->
		<add key="feedback.emails" value="dontreply@student1.org;ricardo.velasco@student1.org;doug@student1.org" />
		<add key="messaging.email.defaultFromEmail" value="dontreply@student1.org" />
		<add key="messaging.email.defaultFromDisplayName" value="Family Portal: Dont Reply" />
		<add key="messaging.email.server" value="smtp.sendgrid.net" />
		<add key="messaging.email.port" value="587" />
		<!-- 25, 587 or 465 for SSL connections-->
		<add key="messaging.email.user" value="apikey" />
		<add key="messaging.email.pass" value="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" />
		<add key="messaging.sms.account" value="AC6ab2a6668017fcbc5e9458fa1017d079" />
		<add key="messaging.sms.key" value="c30ee8e1f7bcafe24d7f566c23fe4fe1" />
		<add key="messaging.sms.sender" value="+13012347489" />

		<!-- Translation Service -->
		<!-- Note: Currently configured with Azure but very easy to make implementation for others like Google or AWS-->
		<add key="translation.ApiUrl" value="https://api.cognitive.microsofttranslator.com/" />
		<add key="translation.Name" value="Parent_Portal_Translation_Service" />
		<add key="translation.Key" value="e7a3ed947c804fe2a7609f06c050b593" />

		<add key="demo.date" value="2011-05-03" />

		<!-- JWT signing params-->
		<add key="Jwt:Key" value="REPLACEMEveryVerySecretKey" />
		<add key="Jwt:Issuer" value="https://familyportal.neltic.com/" />
		<add key="Jwt:Audience" value="c34f1634-092c-476e-baa9-29e429717879" />
		<add key="Jwt:ExpiresInMinutes" value="10080" />
		<!-- SignalR Chat service-->
		<!-- Environment options are: local and azure-->
		<add key="signalr.env" value="local" />
		<add key="cache.on" value="true" />
		<add key="cache.timeInMinutes" value="5" />

		<!-- Push Notifications Service-->
		<add key="notifications.ApiUrl" value="https://fcm.googleapis.com/fcm/send" />
		<add key="notifications.Key" value="AIzaSyBYasTVrmD-BUBEHUguoOtgAzlzOKNuEJo" />
		<add key="notificatinos.SenderId" value="459661466842" />

		<add key="mobileapp.version.parent" value="1.0.1" />
	</appSettings>

	<connectionStrings xdt:Transform="Replace">
		<clear />
		<add name="EdFi25ConnStr" connectionString="Database=EdFi_Ods_PopulatedLP; Data Source=localhost; Persist Security Info=True; User Id=test; Password=test;" providerName="System.Data.SqlClient" />
		<add name="EdFi31ConnStr" connectionString="Database=EdFi_Ods_PopulatedLP; Data Source=localhost; Persist Security Info=True; User Id=test; Password=test;" providerName="System.Data.SqlClient" />
		
		<!-- SignalR Connection String-->
		<add name="Azure:SignalR:ConnectionString" connectionString="Endpoint=https://parentportal.service.signalr.net;AccessKey=jSxCZdduhOswkzE0k+R0jf/Yajh1Q7zZiECjZwfZHpU=;Version=1.0;" />
	</connectionStrings>
</configuration>